<aside class="sidebar">

  <!-- Logo -->
  <div class="sidebar-logo">
    Math<span>Boost</span>
  </div>

  <!-- Navegación -->
  <nav>
    <a href="/estudiante/dashboard" class="<%= active === 'inicio' ? 'active' : '' %>">
      <i class="fas fa-house"></i> Inicio
    </a>
    <a href="/estudiante/clase" class="<%= active === 'clases' ? 'active' : '' %>">
      <i class="fas fa-chalkboard"></i> Mis clases
    </a>
    <a href="/estudiante/trayectoria" class="<%= active === 'trayectoria' ? 'active' : '' %>">
      <i class="fas fa-route"></i> Trayectoria
    </a>
    <a href="/estudiante/progreso" class="<%= active === 'progreso' ? 'active' : '' %>">
      <i class="fas fa-chart-line"></i> Mi progreso
    </a>
    <a href="/estudiante/desafio" class="<%= active === 'desafio' ? 'active' : '' %>">
      <i class="fas fa-gamepad"></i> Desafío
    </a>
    <a href="/estudiante/perfil" class="<%= active === 'perfil' ? 'active' : '' %>">
      <i class="fas fa-circle-user"></i> Perfil
    </a>
  </nav>

  <!-- Cerrar sesión -->
  <div class="sidebar-footer">
    <a href="#" id="btnCerrarSesion">
      <i class="fas fa-right-from-bracket"></i> Cerrar sesión
    </a>
  </div>

</aside>

<script>
    window.API_BASE_URL = "<%= backendUrl %>";
</script>
<script src="/js/avatar-global.js"></script>